@import "var";
@import "reset";

body {
  background: #f8f9fa;
}

.main {
  margin: auto;
  width: 1240px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 29%;
  margin-right: 40px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.04);

  &-icon {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 8px;
    right: 45px;
    cursor: pointer;
    &:hover .card-tooltip {
      display: block;
    }
  }

  &-tooltip {
    padding: 21px;
    position: absolute;
    width: 232px;
    box-shadow: 1px 1px 20px #aaa;
    border-radius: 6px;
    background-color: #fff;
    top: 50px;
    left: -65px;
    transform: translate(-50%);
    transform-style: preserve-3d;
    z-index: 10;
    font-size: 12px;
    line-height: 18px;
    display: none;
    font-family: $fontsmall;
    color: #081f32;
    font-weight: 600;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      transform-origin: 50% 50%;
      transform: rotate(45deg) translateX(-50%);
      background-color: #fff;
      left: 90%;
      top: -1px;
      z-index: 10;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      transform-origin: 50% 50%;
      transform: rotate(45deg) translateX(-50%) translateZ(-1px);
      background-color: #fff;
      left: 50%;
      top: 0px;
      z-index: -1;
      box-shadow: -1px -1px 20px #aaa;
    }
  }

  &-fire {
    height: 20px;
  }

  &-circle {
    width: 24px;
    height: 24px;
    background: #f8593b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    width: 24px;
    height: 24px;

    &--red {
      background: #f8593b;
    }

    &--yellow {
      background: #ffc22b;
      margin-left: 9px;
    }

    &--green {
      background: #2ecc71;
      margin-right: 9px;
    }
  }

  &-img {
    position: relative;
    max-height: 200px;
    overflow: hidden;

    &__eat {
      object-fit: cover;
    }
    &__sign {
      width: 50px;
      height: 50px;
      transition: 0.3s ease;
    }
  }
  &--last {
    margin-right: 0;
  }

  &-content {
    padding: 32px 24px 30px 24px;
  }
  &__headline {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    &-link {
      font-family: $fontbig;
      color: #081f32;
      letter-spacing: 0.01em;
      font-size: 24px;
      line-height: 25px;
    }

    &-circles {
      display: flex;
    }
  }
  &__paragraph {
    font-family: $fontsmall;
    color: #6e798c;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer ignore next */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__inf {
    font-family: $fontsmall;
    color: #a5adbb;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-main {
      color: #081f32;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 25px;
      font-family: $fontbig;
    }

    &-sale {
      text-decoration-line: line-through;
      font-family: $fontbig;
      color: #f8593b;
      font-size: 20px;
      line-height: 25px;
    }

    &-order {
      background: #2ecc71;
      border-radius: 4px;
      padding: 9px 22px;
      border: none;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0.18em;
      font-weight: bold;
      font-size: 14px;
      line-height: 25px;
      font-family: $fontsmall;
    }

    &-order:hover {
      background: #0f7563;
    }

    &-order:active {
      background: #3cc2a9;
    }
  }
}
