@import "reset";
@import "style-section2";

.cards {
  width: 1002px;
  padding: 70px 20px;
  margin: auto;
}
.card-big {
  display: flex;
  width: 100%;
  margin-top: 50px;
  border-radius: 16px;
  overflow: hidden;

  &--box-shadow {
    box-shadow: 3px 3px 50px 3px rgba(0, 0, 0, 0.06);
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    &--purple {
      background: #bcd1ff;
    }
    &--red {
      background: linear-gradient(135deg, #f395ba 0%, #fed182 100%);
    }
    &--white {
      background: #d2ebf7;
    }
    width: 50%;
  }

  &__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 32px 40px 32px 32px;

    &__data {
      margin-left: auto;
    }

    &__height {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #6e798c;
      display: flex;
      margin-bottom: 20px;
    }
    &__headline {
      font-family: "DM Serif Display", serif;
      font-size: 40px;
      line-height: 46px;
      color: #081f32;
      margin-bottom: 10px;
    }

    &__text {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 27px;
      color: #374a59;
      margin-bottom: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* autoprefixer ignore next */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }


    &__inf {
      display: flex;
      align-items: center;
    }

    &__Avatar {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      font-family: "Open Sans", sans-serif;
      color: #007ae9;
    }

    &__avatar {
      margin-right: 12px;
    }

    &__link {
      margin-left: auto;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      font-family: "Open Sans", sans-serif;
      color: #007ae9;
    }
  }
}
.laptop {
  width: 100%;
}

.SMM {
  width: 100%;
}

.Bisness {
  width: 100%;
}
