.second-cards {
display: flex;
margin-top: 50px;
justify-content: space-between;
}

.middle-svg {
  width: 120px;
}
.cards-middle {
    width: 100%;
}
.card-middle {
  width: 100%;
  margin-bottom: 64px;
  border-radius: 16px;
  overflow: hidden;
  margin-right: 32px;

  &--box-shadow {
    box-shadow: 3px 3px  50px 3px rgba(0,0,0,0.06);
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    &--purple {
      background: #bcd1ff;
    }

    &--red {
      background: linear-gradient(152.15deg, #f395ba 0%, #fed182 100%);
    }

    &--white {
      background: #d2ebf7;
    }
  }

  &__content {
    padding: 14px 25px 16px 24px;
  }
  &__data {
    display: flex;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #6e798c;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
  }
  &__time {
    margin-left: auto;
  }

  &__headline {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    font-family: "DM Serif Display", serif;
    color: #081F32;
    margin-bottom: 4px;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #374A59;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* autoprefixer ignore next */
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
  }


 


  &__inf {
    display: flex;
    align-items: center;
  }

  &__Avatar {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #007ae9;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
  }

  &__avatar {
    margin-right: 10px;
    width: 32px;
  }

  &__link {
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    color: #007ae9;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
  }
}

/*****----------*////

.small-svg {
    width: 80px;
}

.card-small {
    width: 100%;
    margin-bottom: 64px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    max-height: 128px;
  
    &--box-shadow {
      box-shadow: 3px 3px  50px 3px rgba(0,0,0,0.06);
    }
  
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 128px;
  
      &--purple {
        background: #bcd1ff;
      }
  
      &--red {
        background: linear-gradient(152.15deg, #f395ba 0%, #fed182 100%);
      }
  
      &--white {
        background: #d2ebf7;
      }
    }
  
    &__content {
      padding: 14px 25px 16px 24px;
    }
    &__data {
      display: flex;
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      color: #6e798c;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 10px;
    }
    &__time {
      margin-left: auto;
    }
  
    &__headline {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      font-family: "DM Serif Display", serif;
      color: #081F32;
      margin-bottom: 4px;
    }
  

  }
 
  .card-group {
    display: flex;
  }