@import "var";
@import "reset";

body {
  background: #f8f9fa;
}

.main {
  margin: auto;
  width: 1240px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 29%;
  margin-right: 40px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.04);

  &-icon {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 5px;
    right: 25px;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover .card-tooltip {
      display: block;
    }
    &:focus .card-tooltip {
      display: block;
    }
  }

  &-tooltip {
    padding: 21px;
    position: absolute;
    width: 232px;
    box-shadow: 1px 1px 20px #aaa;
    border-radius: 6px;
    background-color: #fff;
    top: 50px;
    left: -65px;
    transform: translate(-50%);
    transform-style: preserve-3d;
    z-index: 10;
    font-size: 12px;
    line-height: 18px;
    display: none;
    font-family: $fontsmall;
    color: #081f32;
    font-weight: 600;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      transform-origin: 50% 50%;
      transform: rotate(45deg) translateX(-50%);
      background-color: #fff;
      left: 90%;
      top: -1px;
      z-index: 10;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      transform-origin: 50% 50%;
      transform: rotate(45deg) translateX(-50%) translateZ(-1px);
      background-color: #fff;
      left: 50%;
      top: 0px;
      z-index: -1;
      box-shadow: -1px -1px 20px #aaa;
    }
  }

  &-circle {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    margin-left: 9px;
  }

  &-img {
    position: relative;
    max-height: 200px;
    overflow: hidden;

    &__eat {
      object-fit: cover;
    }
    &__sign {
      width: 50px;
      height: 50px;
      transition: 0.3s ease;
    }
  }
  &--last {
    margin-right: 0;
  }

  &-content {
    padding: 32px 24px 30px 24px;
  }
  &__headline {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    &-link {
      font-family: $fontbig;
      color: #081f32;
      letter-spacing: 0.01em;
      font-size: 24px;
      line-height: 25px;
    }

    &-circles {
      display: flex;
    }
  }
  &__paragraph {
    font-family: $fontsmall;
    color: #6e798c;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer ignore next */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__inf {
    font-family: $fontsmall;
    color: #a5adbb;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-main {
      color: #081f32;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 25px;
      font-family: $fontbig;
    }

    &-sale {
      text-decoration-line: line-through;
      font-family: $fontbig;
      color: #f8593b;
      font-size: 20px;
      line-height: 25px;
    }

    &-order {
      background: #2ecc71;
      border-radius: 4px;
      padding: 9px 22px;
      border: none;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0.18em;
      font-weight: bold;
      font-size: 14px;
      line-height: 25px;
      font-family: $fontsmall;

      &:hover {
        background: #0f7563;
      }

      &r:active {
        background: #3cc2a9;
      }
    }
  }
}
/**-----------------------------------------------------------------------*/
.big-card {
  margin-top: 96px;
  width: 44%;
  background: #fff;
  margin-right: 40px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.04);

  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    top: 15px;
    right: 15px;
  }
  &__love-red {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
    fill: transparent;
  }

  &__love-white {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
    fill: #fff;
  }

  &__checkbox:checked ~ .big-card__love-red {
    fill: #f8593b;
  }

  &--last {
    margin-right: 0;
    width: 52.3%;
  }

  &__wifi {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }

  &__caption {
    padding: 41px 24px 24px;
    &-height {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 23px;
    }
  }

  &__right {
    width: 30%;
    justify-content: space-between;

    &-sign {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__left {
    width: 70%;
    justify-content: space-between;
  }

  &__headline {
    color: $black;
    letter-spacing: 0.01em;
    font-size: 24px;
    line-height: 25px;
    font-family: $fontbig;
    margin-bottom: 12px;
  }

  &__price {
    color: $black;
    font-size: 48px;
    line-height: 25px;
    font-family: $fontbig;
    letter-spacing: 0.02em;
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-group {
      font-family: $fontbig;
    }
    &-small {
      font-family: $fontbig;
      letter-spacing: 0.02em;
      font-size: 16px;
      line-height: 25px;
    }
  }
  &__sale {
    color: #a5adbb;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    font-family: $fontsmall;
    text-decoration-line: line-through;
  }



  &__star {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  &__mark {
    display: flex;
    align-items: center;
   
    &-button {
      background-color: $blue;
      border: none;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0.2em;
      font-family: $fontsmall;
      font-weight: bold;
      font-size: 10px;
      line-height: 25px;
      border-radius: 4px;
      padding:2px 14px;
      margin-left:8px;

      &:hover {
       background-color:#2766a1;
      }
      &:active {
        background-color: #5caefa;
      }
    }
  }

  &__mark[data-rating="4"] {
    .big-card__star:last-child {
      fill: #ebeced;
    }
    .big-card__star {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        fill: $yellow;
      }
    }
  }

  &__mark[data-rating="5"] {
    .big-card__star {
      fill: $yellow;
    }
  }
  &__raiting-button {
    display: flex;
    margin-bottom:25px;
  }
  &__button {
    border: 1px solid #d7d8d9;
    color: $blue;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 10px;
    line-height: 25px;
    font-family: $fontsmall;
    background: #fff;
    border-radius: 4px;
    padding: 4px 13px;
    margin-right: 12px;
    &:hover {
      background: #bae6ff;
      border: 1px solid #bae6ff;
    }

    &:active {
      background: #a8dfff;
      border: 1px solid #a8dfff;
    }
  }

  &__paragraph {
    color: #6e798c;
    font-size: 16px;
    line-height: 25px;
    font-family: $fontsmall;
    margin-bottom: 33px;
  }

  &__saving-money {
    margin-bottom: 10px;
    text-align: center;
    font-family: $fontsmall;
    color: #2ecc71;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 25px;
  }

  &__button-down {
    width: 100%;
    padding: 28px 20px;
    background: #2ecc71;
    border-radius: 8px;
    border: none;
    font-family: $fontsmall;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-align: center;
    &:hover {
      background: #0f7563;
    }

    &:active {
      background: #3cc2a9;
    }
  }
}
