$fontsmall: "Open Sans", sans-serif;
$fontbig:"DM Serif Display", serif;
$blue: #007AE9;
$yellow:#FFC22B;
$black:#081F32;
$background: #f8f9fa;
$bai: 'Bai Jamjuree', sans-serif;
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;